service: user-service
frameworkVersion: ">=1.30.0"
custom:
  region: ${env:TARGET_REGION, 'us-west-2'}
  accountid: ${env:AWS_ACCOUNT_ID}
  stage: ${self:provider.stage}

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: ${env:TARGET_REGION, 'us-west-2'}

resources:
  - ${file(./user-pool.yml)}
  - ${file(./identity-pool.yml)}
